<html lang="en">
  <head>
    <title>dice rolling incremental</title>
    
    <!-- stylesheet import -->
    <link rel="stylesheet" href="style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/main.js" defer></script>
    <script src="js/save.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/break_eternity.js@2.1.0/dist/break_eternity.min.js"></script>
    <script src="js/customFormat.js" defer></script>
    <script src="libs/notify.js" defer></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      
      <!-- POINT DISPLAY -->
      You have <h2 class="glowp">{{f(player.points)}}</h2> points<br><br>
      
      <!-- TABS -->
      <button class="tab" onclick="player.tab='main'">
        Main
      </button>
      <button v-if="player.unl.gambling" class="tab" onclick="tab('gambling', player.prevtab.gambling)">
        Gambling
      </button>
      <button class="tab" onclick="player.tab='opt'">
        Options
      </button><br>
      
      <!-- MAIN GAME-->
      <div v-if="player.tab=='main'">
        <!--
        this is testing
        <span v-for="n in 10" :key="n">
          {{n}}
        </span>
        -->
        <span style="font-size:18px !important;">
          Your dice has {{f(player.maxroll.sub(player.minroll).add(1))}} sides<br>
          (Range: {{f(player.minroll)}} - {{f(player.maxroll)}})<br>
          Point gain is x{{f(pointMul())}} of dice roll<br>
          Upgrade n is autobought for free when upgrade n+4 is owned!<br>
        </span>
        <button class="upg rollbtn" onclick="roll()">
          Roll the dice<br>
          Last roll: {{f(player.result)}}
        </button>
        <br><br>
        <span class="opt upgs">
          <span v-for="n in 5">
            <button :class="{upg: true, can: canAfford(n)}" @click="buyupg(n)" v-if="upgs[n].unlocked()">
              ({{f(player.upgs[n], 0)}}/{{f(upgs[n].cap(), 0)}})<br>
              {{upgs[n].description()}}<br>
              Currently: {{upgs[n].effDis()}}<br>
              {{player.upgs[n].gte(upgs[n].cap())?"Maxed!":("Cost: "+f(upgs[n].cost())+" "+upgs[n].curr)}}
            </button>
          </span>
        </span>
        <span class="opt upgs">
          <button v-for="n in 4" :class="{upg: true, can: canAfford(n+5)}" @click="buyupg(n+5)" v-if="upgs[n+5].unlocked()">
            ({{f(player.upgs[n+5], 0)}}/{{f(upgs[n+5].cap(), 0)}})<br>
            {{upgs[n+5].description()}}<br>
            Currently: {{upgs[n+5].effDis()}}<br>
            {{player.upgs[n+5].gte(upgs[n+5].cap())?"Maxed!":("Cost: "+f(upgs[n+5].cost())+" "+upgs[n+5].curr)}}
          </button>
        </span>
      </div>
      
      <!-- GAMBLING :$ -->
      <div v-if="checkTab('gambling')">
        <br>
        <button class="tab" onclick="tab('gambling', 'main')">
          Main
        </button>
        <button class="tab" onclick="tab('gambling', 'luck')" v-if="miles[7].isOwned()">
          Luck
        </button>
      </div>

      <div v-if="checkTab('gambling', 'main')">
        Your gambling level is <h2 class="glowp">{{format(player.gamblinglevel, 0)}}</h2><br><br>
        
        Reset all base features (points, point upgrades) to increase your gambling level by 1<br>
        Your gambling level multiplies point gain by {{format(gamblingLevelToPointMulti())}}<br>
        It also autobuys the first {{formatWhole(autoboughtUpgradesFromGamblingLevel())}} point upgrades<br>
        There are also milestones associated with gambling level<br><br>
        
        <button :class="{reset: true, can: canIncreaseGamblingLevel()}" onclick="increaseGamblingLevel()">
          The next gambling level requires {{format(gamblingLevelReq(player.gamblinglevel))}} points<br><br>
          Click this button to reset
        </button>
        
        <div class="milecontainer">
          <span v-for="n in 11">
            <div :class="{milestone: true, got: miles[n].isOwned()}" v-if="miles[Math.max(0, n-4)].isOwned()">
              <h3 class="inline">
                {{miles[n].name}}
              </h3><br>
              {{miles[n].effect}}
            </div>
          </span>
        </div>
      </div>

      <div v-if="checkTab('gambling', 'luck')">
        <span v-if="player.gwaed == true">the gwa is in<br></span>
        You have <span class="glowp">{{format(player.luck.luck, 7)}}</span> luck<br>
        You have <span class="glowp">{{format(player.luck.points)}}</span> luck points, multiplying point gain by <span class="glowp">{{format(getPointBoostFromLuck())}}</span><br>
        Your luck generates {{format(luckPointGen(), 5)}} luck points/second<br>
        You also have <span class="glowp">{{format(player.luck.unluck)}}</span> unluck, dividing gambling level requirement by {{format(unluckEffect())}}<br>
        You gain {{format(unluckGain())}} unluck per roll that did not increase your luck<br>
        Luck formula: log<sub>2</sub>(1/Math.random() * {{format(luckChanceMulti())}}) + 1<br>
        <br>
        <div class="opt upgs">
          <button onclick="luckRoll()" class="rollbtn upg">
            Click to roll<br>
            The last roll had a result of {{format(player.luck.lastroll, 7)}}
          </button>
          <button onclick="player.luck.autoroll = !player.luck.autoroll" class="rollbtn upg">
            Auto roll: {{player.luck.autoroll}}
          </button>
        </div>
        <br><br>
        <div class="opt upgs">
          <button v-for="n in 4" :class="{upg: true, can: canAffordLuckUpg(n)}" @click="buyluckupg(n)" v-if="upgs.luck[n].unlocked && player.gamblinglevel.gte(11)">
            ({{f(player.luck.upgs[n], 0)}})<br>
            {{upgs.luck[n].description()}}<br>
            Currently: {{upgs.luck[n].effDis()}}<br>
            Cost: {{f(upgs.luck[n].cost())}} unluck
          </button>
        </div>
      </div>
      
      <!-- OPTIONS -->
      <div v-if="player.tab=='opt'">
        <br>
        <div class="opt">
          <button class="option" onclick="save()">
            Save
          </button>
          <button class="option" onclick="exportSave()">
            Export save
          </button>
          <div>
            <button class="option small" onclick="importSave(document.getElementById('importbox').value)">
              Import below save
            </button><br>
            <input id="importbox" class="optioninput">
          </div>
          <button class="option" onclick="hardReset()">
            Reset all progress
          </button>
          <button class="option" onclick="player.offlineprogress = !player.offlineprogress">
            Cap tick length: {{!player.offlineprogress}}
          </button>
          <button class="option" onclick="player.gwaed = false" v-if="player.gwaed">
            Remove the gwa
          </button>
          <!-- 
          TODO make importbox modal
          also make option buttons be 3/row
          -->
        </div>
      </div>
    </div>
  </body>
</html>
