<html lang="en">
  <head>
    <title>dice rolling incremental</title>
    
    <!-- stylesheet import -->
    <link rel="stylesheet" href="style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/main.js" defer></script>
    <script src="js/dice.js" defer></script>
    <script src="js/save.js"></script>
    <script src="libs/break_eternity.js"></script>
    <script src="js/customFormat.js" defer></script>
    <script src="libs/notify.js" defer></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      
      <!-- POINT DISPLAY -->
      You have <h2 class="glow p">{{f(player.points)}}</h2> points<br><br>
      
      <!-- TABS -->
      <button class="tab" onclick="tab('main', 'none')">
        Main
      </button>
      <button class="tab" v-if="player.unl.gambling" onclick="tab('gambling', 'main')">
        Gambling
      </button>
      <button class="tab" v-if="player.unl.dice" onclick="tab('dice', 'main')">
        Dice
      </button>
      <button class="tab" onclick="tab('opt', 'none')">
        Options
      </button><br><br>
      
      <!-- MAIN GAME-->
      <div v-if="player.tab=='main'">
        <span v-if="player.gwaed == true">what the gwa<br></span>
        <span style="font-size:18px !important;">
          Your dice has {{f(player.maxroll.sub(player.minroll).add(1))}} sides<br>
          (Range: {{f(player.minroll)}} - {{f(player.maxroll)}})<br>
          Point gain is x{{f(pointMul())}} of dice roll<br>
        </span>
        <span class="opt upgs">
          <button class="upg rollbtn" onclick="roll()">
            Roll the dice<br>
            Last roll: {{f(player.result)}}
          </button>
          <button class="upg rollbtn" onclick="player.auto = !player.auto" v-if="miles[7].owned()">
            Auto roll: {{player.auto}}
          </button>
        </span>
        <br><br>
        <span class="opt upgs">
          <button :class="{upg: true, can: canAfford(n)}" @click="buyupg(n)" v-if="upgs[n].unlocked()" v-for="n in 5">
            (pu{{n}}, {{f(player.upgs[n], 0)}}/{{f(upgs[n].cap(), 0)}})<br>
            {{upgs[n].description()}}<br>
            Currently: {{upgs[n].effDis()}}<br>
            {{player.upgs[n].gte(upgs[n].cap())?"Maxed!":("Cost: "+f(upgs[n].cost())+" "+upgs[n].curr)}}
          </button>
        </span>
        <span class="opt upgs">
          <button :class="{upg: true, can: canAfford(n+5)}" @click="buyupg(n+5)" v-if="upgs[n+5].unlocked()" v-for="n in 5">
            (pu{{n+5}}, {{f(player.upgs[n+5], 0)}}/{{f(upgs[n+5].cap(), 0)}})<br>
            {{upgs[n+5].description()}}<br>
            Currently: {{upgs[n+5].effDis()}}<br>
            {{player.upgs[n+5].gte(upgs[n+5].cap())?"Maxed!":("Cost: "+f(upgs[n+5].cost())+" "+upgs[n+5].curr)}}
          </button>
        </span>
        <span class="opt upgs">
          <button :class="{upg: true, can: canAfford(n+10)}" @click="buyupg(n+10)" v-if="upgs[n+10].unlocked()" v-for="n in 5">
            (pu{{n+10}}, {{f(player.upgs[n+10], 0)}}/{{f(upgs[n+10].cap(), 0)}})<br>
            {{upgs[n+10].description()}}<br>
            Currently: {{upgs[n+10].effDis()}}<br>
            {{player.upgs[n+10].gte(upgs[n+10].cap())?"Maxed!":("Cost: "+f(upgs[n+10].cost())+" "+upgs[n+10].curr)}}
          </button>
        </span>
        <span class="opt upgs">
          <button :class="{upg: true, can: canAfford(n+15)}" @click="buyupg(n+15)" v-if="upgs[n+15].unlocked()" v-for="n in 5">
            (pu{{n+15}}, {{f(player.upgs[n+15], 0)}}/{{f(upgs[n+15].cap(), 0)}})<br>
            {{upgs[n+15].description()}}<br>
            Currently: {{upgs[n+15].effDis()}}<br>
            {{player.upgs[n+15].gte(upgs[n+15].cap())?"Maxed!":("Cost: "+f(upgs[n+15].cost())+" "+upgs[n+15].curr)}}
          </button>
        </span>
      </div>

      <div v-if="player.tab=='gambling'">
        <button class="tab" onclick="player.subtab='main'">
          Main
        </button>
        <button class="tab" v-if="player.gamblinglevel.gte(8)" onclick="player.subtab='luck'">
          Luck
        </button>
        <div v-if="player.subtab=='main'">
          <span v-if="player.gwaed == true">the gwa is in<br></span>
          Your g<span v-if="player.gwaed==true">w</span>ambling level is <span class="glow gl">{{formatWhole(player.gamblinglevel)}}</span><br><br>

          Reset points and all point upgrades to increase your g<span v-if="player.gwaed==true">w</span>ambling level by 1<br>
          Your g<span v-if="player.gwaed==true">w</span>ambling level multiplies point gain by <span class="glow gl">{{f(gamblingPointBoost())}}</span><br>
          There are also milestones <span v-if="player.tacocatside==false">associated</span><span v-if="player.tacocatside==true">taco cat side</span> with g<span v-if="player.gwaed==true">w</span>ambling level<br>
          <br>
          <button :class="{reset: true, can: canGamblingReset()}" onclick="gamblingReset()">
            The next g<span v-if="player.gwaed==true">w</span>ambling level requires {{format(gamblingReq(player.gamblinglevel))}} points<br><br>
            Click this button to reset
          </button>
          <br>
          <div class="milecontainer">
            <span v-for="n in 14">
              <div :class="{milestone: true, got: miles[n].owned()}" v-if="miles[Math.max(0, n-4)].owned()">
                <h3 class="inline">
                  {{miles[n].name}}
                </h3><br>
                {{miles[n].effect}}
              </div>
            </span>
          </div>
        </div>
        <div v-if="player.subtab=='luck'">
          <span v-if="player.gwaed == true">the gwa is in<br></span>
          You have <span class="glow l">{{format(player.luck.luck, 7)}}</span> luck<br>
          You have <span class="glow l">{{format(player.luck.points)}}</span> luck points, multiplying point gain by <span class="glow l">{{format(luckToPointBoost())}}</span><br>
          Your luck generates {{format(luckPointGen(), 5)}} luck points/second<br>
          You also have <span class="glow l">{{format(player.luck.unluck)}}</span> unluck, dividing gambling level requirement by {{format(unluckEffect())}}<br>
          You gain {{format(unluckGain())}} unluck per roll that did not increase your luck<br>
          Luck formula: log<sub>2</sub>(1/(1-Math.random()) * {{format(luckChanceMulti())}}) + 1<br>
          <br>
          <div class="opt upgs">
            <button onclick="luckRoll()" class="rollbtn upg">
              Click to roll<br>
              The last roll had a result of {{format(player.luck.lastroll, 7)}}
            </button>
            <button class="upg rollbtn" onclick="player.luck.auto = !player.luck.auto" v-if="miles[11].owned()">
              Auto luck roll: {{player.luck.auto}}
            </button>
          </div>
          <br><br>
          <span class="opt upgs">
            <button :class="{upg: true, can: canAffordLuckUpg(n)}" @click="buyLuckUpg(n)" v-if="upgs.luck[n].unlocked()" v-for="n in 5">
              (lu{{n}}, {{f(player.luck.upgs[n], 0)}}+{{f(player.luck.freeupgs[n], 0)}}/{{f(upgs.luck[n].cap(), 0)}})<br>
              {{upgs.luck[n].description()}}<br>
              Currently: {{upgs.luck[n].effDis()}}<br>
              {{player.luck.upgs[n].gte(upgs.luck[n].cap())?"Maxed!":("Cost: "+f(upgs.luck[n].cost())+" "+upgs.luck[n].curr)}}
            </button>
          </span>
        </div>
      </div>

      <div v-if="player.tab=='dice'">
        <button class="tab" onclick="player.subtab='main'">
          Main
        </button>
        <button class="tab" onclick="player.subtab='items'" v-if="player.dice.resets > 0">
          Items
        </button>
        <button class="tab" onclick="player.subtab='tokens'" v-if="player.dice.resets > 0">
          Tokens
        </button>
        <div v-if="player.subtab=='main'">
          You have <span class="glow d">{{f(player.dice.amount)}}</span> dice<br>
          1e100 points and Gambling Level 21 are required to reset<br>
          Dice gain is based on points and gambling level<br>
          <br>
          <button :class="{reset: true, can: canDiceReset()}" onclick="diceReset()">
            Gain {{f(diceGain())}} dice, but reset everything before this point
          </button>
        </div>
        <div v-if="player.subtab=='items'">
          You have <span class="glow d">{{f(player.dice.shards)}}</span> dice shards (+<span class="glow d">{{f(diceShardGain())}}</span>/s)<br>
          Dice shard gain is based on total dice<br>
          The chance of getting at least a tier n item is currently {{f(upgradeChance())}}<sup>n-1</sup><br>
          <br>
          Your {{ITEM_NAMES[1]}} is currently tier {{formatWhole(player.dice.items[1])}}<br>
          This is {{BOOST_TEXT[1]}} by <span class="glow d">{{f(getItemBoost(1))}}</span><br>
          <button :class="{upg: true, wide: true, can: player.dice.shards.gte(upgradeCost(1))}" onclick="upgradeItem(1)">
            Attempt to increase the tier of your {{ITEM_NAMES[1]}}<br>
            Cost: {{f(upgradeCost(1))}} dice shards<br>
            Your last attempt gave a tier of {{formatWhole(player.dice.lastattempt[1])}}
          </button><br>
          <br>
          Your {{ITEM_NAMES[2]}} is currently tier {{formatWhole(player.dice.items[2])}}<br>
          This is {{BOOST_TEXT[2]}} by <span class="glow d">{{f(getItemBoost(2))}}</span><br>
          <button :class="{upg: true, wide: true, can: player.dice.shards.gte(upgradeCost(2))}" onclick="upgradeItem(2)">
            Attempt to increase the tier of your {{ITEM_NAMES[2]}}<br>
            Cost: {{f(upgradeCost(2))}} dice shards<br>
            Your last attempt gave a tier of {{formatWhole(player.dice.lastattempt[2])}}
          </button><br>
          <br>
          Your {{ITEM_NAMES[3]}} is currently tier {{formatWhole(player.dice.items[3])}}<br>
          This is {{BOOST_TEXT[3]}} by <span class="glow d">{{f(getItemBoost(3))}}</span><br>
          It also makes you start at gambling level {{formatWhole(player.dice.items[3].min(16))}}<br>
          <button :class="{upg: true, wide: true, can: player.dice.shards.gte(upgradeCost(3))}" onclick="upgradeItem(3)">
            Attempt to increase the tier of your {{ITEM_NAMES[3]}}<br>
            Cost: {{f(upgradeCost(3))}} dice shards<br>
            Your last attempt gave a tier of {{formatWhole(player.dice.lastattempt[3])}}
          </button><br>
          <br>
          Your {{ITEM_NAMES[4]}} is currently tier {{formatWhole(player.dice.items[4])}}<br>
          This is {{BOOST_TEXT[4]}} by <span class="glow d">{{f(getItemBoost(4))}}</span><br>
          <button :class="{upg: true, wide: true, can: player.dice.shards.gte(upgradeCost(4))}" onclick="upgradeItem(4)">
            Attempt to increase the tier of your {{ITEM_NAMES[4]}}<br>
            Cost: {{f(upgradeCost(4))}} dice shards<br>
            Your last attempt gave a tier of {{formatWhole(player.dice.lastattempt[4])}}
          </button>
        </div>
        <div v-if="player.subtab=='tokens'">
          You have <span class="glow d">{{formatWhole(player.dice.tokens)}}</span> upgrade tokens ({{formatWhole(player.dice.totaltokens)}} total)<br>
          <button :class="{upg: true, can: player.dice.amount.gte(tokenCost())}" onclick="buyToken()">
            Buy an upgrade token<br>
            Cost: {{formatWhole(tokenCost())}} dice
          </button><br>
          <br>
          Buying an upgrade increases the cost of all upgrades in the row,<br>
          but decreases the cost of all upgrades in the column<br>
          (this can't decrease the cost below 1)<br>
          <span class="opt upgs">
            <button class="upg" onclick="respecDiceUpgs()">
              Respec dice upgrades
            </button>
          </span>
          <span class="opt upgs" v-for="n in 4">
            <span v-for="m in 4">
              <button :class="{upg: true, can: player.dice.tokens.gte(diceUpgCost(n*10+m)), diceunowned:!diceUpgOwned(n*10+m), diceowned:diceUpgOwned(n*10+m)}" @click="buyDiceUpg(n*10+m)">
                (du{{n*10+m}})<br>
                {{DICEUPGS[n*10+m].description}}<br>
                Currently: {{DICEUPGS.symbolsByRow[n-1]}}{{f(DICEUPGS[n*10+m].effect())}}<br>
                Cost: {{f(diceUpgCost(n*10+m))}} upgrade tokens
              </button>
            </span>
          </span>
        </div>
      </div>
      
      <!-- OPTIONS -->
      <div v-if="player.tab=='opt'">
        <br>
        <div class="opt">
          <button class="option" onclick="save()">
            Save
          </button>
          <button class="option" onclick="exportSave()">
            Export save
          </button>
          <div>
            <button class="option small" onclick="importSave(document.getElementById('importbox').value)">
              Import below save
            </button><br>
            <input id="importbox" class="optioninput">
          </div>
        </div>
        <div class="opt">
          <button class="option" onclick="hardReset()">
            Reset all progress
          </button>
          <button class="option" onclick="player.offlineprogress = !player.offlineprogress">
            Cap tick length: {{!player.offlineprogress}}
          </button>
          <button class="option" onclick="toggleDigitSep()">
            Digit seperator: {{digitSepText()}}
          </button>
          <!-- 
          TODO make importbox modal
          -->
        </div><br>
        You are playing dice rolling incremental v0.2b4 - void sacrifices (not yet implemented) + revamp<br>
      </div>
    </div>
  </body>
</html>
